.Container{
  background-color: rgb(205, 223, 239);
  border-radius: 10%;
  width: 40vh;
  height: 50vh;
}

.todoContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    /* background-color: bisque; */
  }
.todoContainer > button {
    display: flex;
    margin: 0 10px 0 10px;
    width: 3vw;
    height: 4vh;
    justify-content: center; /*글자 가로 중앙정렬*/
    align-items: center; /*글자 세로 중앙정렬*/
}
.todoContainer > div{
    margin-left: auto;
    margin-right: 10px;
    display: flex;
    gap: 10px;
}

.todoCreateContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Input_create{
    margin: 1rem;
    border-radius: 1rem;
    width: 10rem;
    height: 2rem;
}

.Input_update{
    border-radius: 1rem;
    width: 10rem;
    height: 2rem;
}

