.Button_submit {
    margin: 0 1rem 0 0;
}

.Input_create{
    margin: 1rem;
    border-radius: 1rem;
    width: 10rem;
    height: 2rem;
}

.Input_update{
    border-radius: 1rem;
    width: 10rem;
    height: 2rem;
}

.Container{
  background-color: rgb(205, 223, 239);
}
.todoContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* background-color: bisque; */
  }

  .todoCreateContainer{

  }
  
  .todoListContainer{

  }
