.App {
  text-align: center;
  width: 30rem;
  margin: 0 auto;
  padding: 1rem;
  background-color: beige;
}

.todoContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}