.App {
    display: flex;
    justify-content: center; /*가로 중앙 정렬 */
    align-items: center; /*세로 중앙 정렬 */
    width: 100vw; /*화면 전체 가로 길이*/
    height: 100vh; /*화면 전체 높이*/
  }
  
  .Container{
  background-color: rgb(205, 223, 239);
  border-radius: 10%;
  width: 50vh;
  height: 50vh;
}
.todoListContainer{
    height: 37vh;
}
.todoContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;  
  }
.todoContainer > button {
    display: flex;
    margin: 0 10px 0 10px;
    width: 3vw;
    height: 4vh;
    justify-content: center; /*글자 가로 중앙정렬*/
    align-items: center; /*글자 세로 중앙정렬*/
}
.todoUpdateContainer {
    margin-left: auto;
    margin-right: 10px;
    display: flex;
    gap: 10px;
}
.todoUpdateContainer > button {
    margin-bottom: 10px;
}
.todoContainer > p {
    width: 10vw;
    white-space: normal; /*텍스트가 넘치면 자동 줄바꿈*/
    word-wrap: break-word;
}
.UpdateContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin-top: 7px;
}

.todoCreateContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.todoCreateContainer > form {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.Input_create{
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.Button_submit {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    background-color: rgb(40, 108, 160);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    margin-bottom: 10px;
}
.Input_update{
    border-radius: 1rem;
    width: 10rem;
    height: 2rem;
}

.PageContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.UserIcon {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 20px;
    right: 20px;
    display: flex;
}
