.RegisterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.RegisterContainer > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17vw;
    height: 40vh;
    background-color: pink;
}

.RegisterBox > input {
    display: flex;
    border-radius: 1rem;
    width: 10rem;
    height: 2rem;
}