@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  display: flex;
  justify-content: center; /*가로 중앙 정렬 */
  align-items: center; /*세로 중앙 정렬 */
  width: 100vw; /*화면 전체 가로 길이*/
  height: 100vh; /*화면 전체 높이*/
}